<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"><meta name="viewport" content="initial-scale=1, width=device-width">
  <meta name="robots" content="noindex, nofollow">
  <title>APRS-IS Transceiver - Send Message</title>
</head>
<body>
<style>

  body {
      margin: 0px;
      background: #2559a7;
      color: #ddd;
    }

  .navbar {
    overflow: hidden;
    background-color: #2559a7;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
  }

  /* Links inside the navbar */
  .navbar a {
    float: left;
    display: block;
    background-color: #2559a7;
    color: #ddd;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

    font-family: -apple-system, "Helvetica Neue", Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    letter-spacing: -0.0025em;
    place-items: center;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;

  }

  /* Change background on mouse-over */
  .navbar a:hover {
    background: #ddd;
    color: black;
  }

  /* Main content */
  .main {
    margin-top: 60px;
    font-family: -apple-system, "Helvetica Neue", Helvetica, sans-serif;
    /* font-size: clamp(1rem, 2.5vw, 2rem); */
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.0025em;
    line-height: 1.4;
    min-height: 100vh;
    /* place-items: center; */
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 50%  50%;
    margin: 20px;
    gap: 20px;
  }
  .grid-item {
  }

  .line {
    margin : 20px;
  }


    .table-container {
        max-height: 500px;
        overflow-y: auto;
    }
    table {
        border-collapse: collapse;
    }
    thead, tbody {
    }
    thead {
    }
    tbody {
        max-height: 450px;
        overflow-y: auto;
    }
    td {
        padding: 3px;
        text-align: left;
        border: 1px solid #ddd;
        box-sizing: border-box;
        color: #ddd;
        background-color: #2559a7
    }
    th{
        padding: 3px;
        text-align: left;
        border: 1px solid #ddd;
        box-sizing: border-box;
        background-color: #ddd;
        color: #2559a7
    }
    .rowpadded {
        height:20px;
    }
    .column75 {
        float: left;
        width: 75%;
    }
    .column90 {
        float: left;
        width: 90%;
    }
    .column25 {
        float: left;
        width: 25%;
    }
    .column10 {
        float: left;
        width: 10%;
    }
    .main a {
        color: #ddd;
    }
  .block {
    border: 1px;
    background: #033684;
    color: white;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    width: 100px;
    text-decoration: none;
  }

  .block:hover {
    background: #ddd;
    color: black;
  }

</style>

<script>
</script>

<div>
<div class="navbar">
  <a href="/">Welcome</a>
  <a href="/register"><b>Register with Net Central server</b></a>
  <a href="/sendmessage">Send Message</a>
</div>

<div class="main">
  <div class="line"><hr/></div>
  <div style="margin:20px;">
    <h1>Register with Net Central server</h1>
  </div>
  <div class="line"><hr/></div>

  <div style="margin:20px;">
    <form action="/register-action" method="post">
      <div>
        <h3>Registering transceiver:</h3>
        <br>Name:  {{rtName}}
        <br>Description: {{rtDescription}}
        <br>Type: {{rtType}}
        <br>Port: {{rtPort}}
      </div>
      <br>
      <div class="mb-3">
          <label for="fqdName" class="form-label">Server IP Address:</label>
          <input type="text" name="fqdName" value="{{cfgServer}}" id="fqdName" min="1" class="form-control" required="required"/>
      </div>
      <div class="mb-3">
          <label for="port" class="form-label">Server port:</label>
          <input type="text" name="port" value="{{cfgPort}}" id="port" min="1" class="form-control" required="required"/>
      </div>
      <div class="mb-3">
          <label for="username" class="form-label">Username:</label>
          <input type="text" name="username" value="{{cfgUsername}}" id="username" min="1" class="form-control" required="required"/>
      </div>
      <div class="mb-3">
          <label for="password" class="form-label">Password:</label>
          <input type="password" name="password" value="{{cfgPassword}}" id="password" class="form-control" required="required"/>
      </div>
      <div>
        <input type="submit" value="Register" class="btn btn-primary block"/>
        <a class="block" href="/">Cancel</a>
      </div>
    </form>
  </div>

</div>

</div>

</body>
</html>